{% extends 'layout.html' %}

{% from 'macros.html' import render_field %}

{% block content %}

<form method='POST' action=''>
  {{ form.hidden_tag() }}

  <div class="row">
  <div class="u-full-width">
    {{ render_field(form.phoneNumber) }}
  </div>

    <div class="u-full-width">
      {{ render_field(form.fullName) }}
    </div>
       <div class="u-full-width">
    {{ render_field(form.email) }}
  </div>
        {{form.member.label}}

        {% for subfield in form.member %}
<tr>
<th>{{ subfield.label }}</th>
    <td>{{ subfield }}</td>
</tr>
{% endfor %}
  </div>

  <div class="u-full-width">
    <input type="submit" class="button-primary" value="Register">
  </div>
</form>

{% endblock %}
